<!-- templates/subscribe_page.html -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Subscribe to Twitch Streamers to Get Notified When Live</title>
  </head>
  <body>
    <h3>EventSub Subscription Info</h3>
    <p>Total Cost: <span id="total_cost">{{total_cost}}</span></p>
    <p>Max Total Cost: <span id="max_total_cost">{{max_total_cost}}</span></p>
    <div id="message"></div>
    <form id="subscribe-form" action="/" method="post">
      <label for="streamer_name">Streamer Name:</label>
      <input type="text" id="streamer_name" name="streamer_name" />
      <button type="submit">Subscribe</button>
    </form>
    <h1>EventSub Subscriptions</h1>
    <iframe id="subscription_table" src="{{ url_for('table') }}" width="100%" height="400" frameborder="0"></iframe>
    <form id="test-form" action="/test" method="post">
      <label for="streamer_id">Streamer ID:</label>
      <input type="text" id="streamer_id" name="streamer_id" />
      <label for="streamer_name">Streamer Name:</label>
      <input type="text" id="streamer_name" name="streamer_name" />
      <button type="submit">Test</button>
    </form>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
  </body>
</html>
